# Force the GitHub Linguist to cover the scripts in /docs
/** linguist-detectable=true

docs/** linguist-detectable=true
docs/** -linguist-documentation
docs/** -linguist-vendored
docs/** -linguist-generated
